@model IEnumerable<Lager.Models.Team>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "The Team";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a class="btn btn-light" role="button" asp-action="Create">Create New</a>
    </p>

}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 mb-4">
                <div class="card h-100">
                    <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                        <svg class="bi bi-person" width="5em" height="5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15 16s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002zM5.022 15h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C13.516 12.68 12.289 12 10 12c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002zM10 9a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Bio)
                        </p>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="card-footer">
                            <span class="badge badge-primary"><a class="text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a></span>
                            <span class="badge badge-info"><a class="text-light" asp-action="Details" asp-route-id="@item.Id">Details</a></span>
                            <span class="badge badge-danger"><a class="text-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a></span>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>